// ---------------------------------------------------------------------------
// Imports

// colors
@import "partials/basecolors/azure3";

@import "partials/jq-ui-theme";

@include jquery-ui-base-theme;



/* import all colors and variables before bootstrap */

@import "partials/bootstrap-variables";


@import "bootstrap";

@import "partials/common-page";
@import "partials/list-styles";

// extra stuff
@import "partials/tickets";
@import "mslemon/phonecall";
@import "mslemon/cases-main";
@import "mslemon/list-styles";

// extra admin stuff
@import "partials/imagelist-admin";
@import "partials/userlist-admin";
@import "partials/grouplist-admin";

.fc-header-title h2 {
    font-size: 1.2em;
}



#list-button {
    display: block;
    text-align: center;
}

.ticket-main-view-button-sidebar {
    .query-button {
	display: block;
	text-align: center;
    }
}

#confirm-delete {
    display: none;
}


.no-close .ui-dialog-titlebar-close {
    display: none;
}


.add-entry-btn {
    margin-top: 0.1em;
    margin-right: 0.075em;
}

#main-alert {
	background-color: $basecolor4;
	color: $basecolor;
}

#editor {
    position: relative;
    width: 100%;
    height: 30em;
}

#field-editor {
    position: relative;
    width: 100%;
    height: 30em;
}

